/*archivo css del sitio web para presentar como TP Parcial 2 de LPPA 2021 UAI Rosario*/

/*parametros generales*/
* {
  box-sizing: border-box;
}


body{
  background-color: #F0F8FD;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}


/* estilos cuerpo principal */

/*CABECERA*/
#cabecera {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: linear-gradient(90deg, #006FE1, #00AAE7);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  padding: 0;;
}

#logo {

}

#imglogo {
  height: 40px;
}

#control-general {
  width: 75%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#controlesCarpetas {
  width: 300px;
  height: 70px;
  display: flex;
  flex-direction: row;
}

#switchEmpleados {
  width: 150px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 4px solid #80D0FC;
}

#switchEmpresa {
  width: 150px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#switchSIRH {
  width: 150px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#menuUsuario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.iconosChicos {
  height: 25px;
} 

#imgLogoUsuario {
  height: 35px;
}


/*SELECTORES*/
#selectores {
  width: 100%;
  background-color: #fff;
  color: #1A84E1;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center; 
  box-shadow: 0px 5px 20px #c3d8eb;
}

#control-selectores, #control-listado {
  width: 75%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#menuSelectores, #busquedaListado {
  width: 150px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#menuBotonesSelectores, #menuBotonesSelectores {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#imgMenuSelectores, #imgBotonesVarios1, #imgBotonesVarios2 {
  height: 30px;
}


/*LISTADO*/
#listado {
  width: 100%;
  display: flex;
  justify-content: center; 
}

#seccionListado {
  width: 75%;
  display: flex;
  flex-direction: column;
}

#control-listado {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#buscarListado {
  width: 300%;
  height: 35px;
  font-size: 14px;
  color: darkgray;
  border: none;
  background-color: transparent;
}

#mostrarListado {
  width: 100%;
}

.listadoGenerado {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


/*FICHA EMPLEADO*/
.fichaEmpleado {
  width: 23%;
  height: 300px;
  margin: 1%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgEmpleado {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cuadroControlFicha {
  height: 25px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.imgControlFicha {
  height: 25px;
}

.nombreApellido {
  color: #696F85;
  font-weight: bold;
}

.cargoEmpresa {
  color: #9ACFF1;
  font-size: 12px;
  font-style: italic;
}

.lineaFicha {
  width: 50%;
}

.emailEmpleado {
  font-size: 12px;
  font-weight: bolder;
  color: #76AEEB;
  margin-top: 20px;
}

.celularEmpleado {
  font-size: 14px;
  font-weight: bolder;
  color: #76AEEB;
  margin-bottom: 20px;
}





/*media queries - comportamiento responsivo*/
@media (max-width: 1024px) {  

  /*CABECERA*/
  #cabecera {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  #logo {
    width: 50%;
    order: 1;
  }

  #control-general {
    width: 100%;
    order: 3;
  }

  #menuUsuario {
    width: 50%;
    order: 2;
  }

  
  /*SELECTORES*/
  #control-selectores, #control-listado {
    width: 100%;
  }

  
  /*LISTADO*/
  #seccionListado {
    width: 100%;
  }

}


@media (max-width: 768px) {
  
  /*FICHA EMPLEADO*/
  .fichaEmpleado {
    width: 46%;
    margin: 2%;
  }
 
  
}
